<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>詳細画面</title>
	<link rel="stylesheet" href="detail.css" type="text/css">
</head>

<body>
	<!-- header -->
	<header>
		<div class="head_title">JavaTeamDevelopment</div>
	</header>
</body>

</html>
<h1>自己紹介</h1>
<table border="1" th:each="introduction : ${detail}" th:object="${detail}">
	<tr>00
		<th>管理番号</th>
		<td th:text="*{user_id}"></td>
	</tr>
	<tr>
		<th>名前</th>
		<td th:text="*{name}"></td>
	</tr>
	<tr>
		<th>フリガナ</th>
		<td th:text="*{kana}"></td>
	</tr>
	<tr>
		<th>性別</th>
		<td th:text="*{gender}"></td>
	</tr>
	<tr>
		<th>趣味</th>
		<td th:text="*{hobby}"></td>
	</tr>
	<tr>
		<th class="comment">一言</th>
		<td th:text="*{hobby}"></td>
	</tr>
</table>

<div>
	<button href = "@{/list}">戻る</button>
	<button href = "@{/input}">編集</button>
	<button class=deleted>削除</button>
</div>