<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="done.css">
  <title>チーム開発</title>
</head>
<body>

  <!-- header -->
  <header class="header">
    <div class="header-icon"><img src="/img/図1.png" alt=""></div>
    <div class = "header-title">JavaTeamDevelopment</div>
  </header>


  <!-- main -->
  <div class="main">
    <div class="done-box">
      <div class="done-box_head">自己紹介の登録が完了しました！</div>
      <div class="done-box_body">
        <p class="done-box_message">下記内容の自己紹介の登録が完了しました！</p>
        <p class="done-box_info">管理番号：XXXX01<br>
          名前：新上剛志<br>
          フリガナ：シンジョウツヨシ<br>
          性別：男性<br>
          趣味：項目1, 項目4, 項目8, 項目9<br>
          一言：DRIVELINEのサポートメンバーの新上です！<br>
          よろしくお願いします！
          </p>
        <p class="done-box_contact">自己紹介の内容を変更するには登録内容一覧画面から編集をして頂くか、管理者へお問い合わせください。</p>
      </div>
      <div class="done-box_return">
        <a href="">TOPへ戻る</a>
      </div>
    </div>
  </div>
</body>
</html>