<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>一覧画面</title>
	<link rel="stylesheet" href="list.css" type="text/css">
</head>

<body>
	<!-- header -->
	<header>
		<div class="head_title">JavaTeamDevelopment</div>
	</header>

	<h1>自己紹介登録者一覧</h1>
	<table border="1">
		<thead>
		<tr>
			<th>ID</th>
			<th>名前</th>
		</tr>
		</thead>
		<tr  th:each="user : ${userlist}" th:object="${user}" class="align-middle">
			<td th:text="*{user_id}" class="ID"></td>
			<td th:text="*{name}"></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
		<tr>
			<td class="ID"></td>
			<td></td>
		</tr>
	</table>
</body>

</html>