<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="top.css">
  <title>チーム開発</title>
</head>
<body>

  <!-- header -->
  <header class="header">
    <div class="header-icon"><img src="/img/図1.png" alt=""></div>
    <div class = "header-title">JavaTeamDevelopment</div>
  </header>


  <!-- main -->
  <div class="main">
    <div class="top-box">
      <div class="top-box_register">
        <div class="top-box_head">
          <h3 class="top-box-title">自己紹介登録</h3>
          <div class="top-box-btn">
            <a href="">登録に進む</a>
          </div>
        </div>
        <div class="top-box_main">
          <p class="top-box-content">新しく自己紹介を作ります。<br>
            あなたをより知ってもらうために、<br>
            趣味や一言を工夫しましょう。<br>
            最高の自己紹介を完成させて、よりあなたを<br>
            知ってもらえるチャンスにしましょう。</p>
        </div>
      </div>
      <div class="top-box_list">
        <div class="top-box_head">
          <h3 class="top-box-title">自己紹介登録者一覧</h3>
          <div class="top-box-btn">
            <a href="">一覧を編集する</a>
          </div>
        </div>
        <div class="top-box_main">
          <p class="top-box-content">登録している人を確認します。<br>
            登録している人の自己紹介記事をみてみましょう。</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>